.section {
	margin: 3rem 0;

	&__card {
		display: flex;
		flex-direction: row-reverse;
		gap: 2rem;

		@media (width<=1024px) {
			flex-direction: column;
		}
	}

	&__description {
		font-size: 1.25rem;

		@media (width<=768px) {
			font-size: 1rem;
		}
	}

	&__button {
		font-size: 2rem;

		@media (width<=768px) {
			font-size: 1rem;
			padding: 1rem 0 !important;
		}
	}
}
